<div class="container">
    <div class="row justify-content-center">
       
           
            <div class="col-md-8 mt-5">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Reference ID</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{data.referenceId}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Patient Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{data.patient}}
                            </div>
                        </div>
                        <hr>
                        
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">consulted doctor</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{data.doctor}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Appointment Date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{data.date}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">status</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" style="color: darkgreen; font-size:larger">
                               {{data.status}}
                            </div>
                        </div>

                        
                    </div>
                </div>
            
        </div>
    </div>
</div> 